# Please sort into logical groups with comment headers. Sort groups in order of specificity.
# For example, default owners should always be the first group.
# Sort lines alphabetically within these groups to avoid accidentally adding duplicates.
#
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# BRE for publish workflow changes
.github/workflows/publish-*.yml @bitwarden/dept-bre

# Shared workflows ownership

## BRE & SM teams shared ownership
.github/workflows/build-cli-docker.yml @bitwarden/dept-bre @bitwarden/team-secrets-manager-dev
.github/workflows/build-cli.yml @bitwarden/dept-bre @bitwarden/team-secrets-manager-dev
.github/workflows/build-cpp.yml @bitwarden/dept-bre @bitwarden/team-secrets-manager-dev
.github/workflows/build-dotnet.yml @bitwarden/dept-bre @bitwarden/team-secrets-manager-dev
.github/workflows/build-go.yml @bitwarden/dept-bre @bitwarden/team-secrets-manager-dev
.github/workflows/build-java.yml @bitwarden/dept-bre @bitwarden/team-secrets-manager-dev
.github/workflows/build-napi.yml @bitwarden/dept-bre @bitwarden/team-secrets-manager-dev
.github/workflows/build-python-wheels.yml @bitwarden/dept-bre @bitwarden/team-secrets-manager-dev
.github/workflows/build-ruby.yml @bitwarden/dept-bre @bitwarden/team-secrets-manager-dev
.github/workflows/release-bws.yml @bitwarden/dept-bre @bitwarden/team-secrets-manager-dev
.github/workflows/release-cpp.yml @bitwarden/dept-bre @bitwarden/team-secrets-manager-dev
.github/workflows/release-dotnet.yml @bitwarden/dept-bre @bitwarden/team-secrets-manager-dev
.github/workflows/release-go.yml @bitwarden/dept-bre @bitwarden/team-secrets-manager-dev
.github/workflows/release-java.yml @bitwarden/dept-bre @bitwarden/team-secrets-manager-dev
.github/workflows/release-napi.yml @bitwarden/dept-bre @bitwarden/team-secrets-manager-dev
.github/workflows/release-python.yml @bitwarden/dept-bre @bitwarden/team-secrets-manager-dev
.github/workflows/release-ruby.yml @bitwarden/dept-bre @bitwarden/team-secrets-manager-dev

## Multiple owners
.github/workflows/build-rust-crates.yml
.github/workflows/build-rust-cross-platform.yml
.github/workflows/build-wasm-internal.yml
.github/workflows/build-wasm.yml
.github/workflows/release-rust-crates.yml
.github/workflows/release-wasm.yml
.github/workflows/version-bump.yml

# Secrets Manager team
crates/bitwarden-sm @bitwarden/team-secrets-manager-dev
crates/bws @bitwarden/team-secrets-manager-dev

# BRE Automations
crates/bws/Cargo.toml
crates/bws/scripts/install.ps1
crates/bws/scripts/install.sh

## Docker files have shared ownership ##
**/Dockerfile
**/*.Dockerfile
**/.dockerignore
**/entrypoint.sh
