[package]
name = "bw"
version = "0.0.2"
edition = "2021"
rust-version = "1.60"
authors = ["Bitwarden Inc"]
license-file = "LICENSE"
repository = "https://github.com/bitwarden/sdk"
homepage = "https://bitwarden.com"
description = """
Bitwarden Password Manager CLI
"""
keywords = ["bitwarden", "password-manager", "cli"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.3.0", features = ["derive", "env"] }
tokio = { version = "1.28.2", features = ["rt-multi-thread", "macros"] }
log = "0.4.18"
env_logger = "0.10.0"
color-eyre = "0.6"
inquire = "0.6.2"

bitwarden = { path = "../bitwarden", version = "0.3.0", features = [
    "internal",
] }
bitwarden-cli = { path = "../bitwarden-cli", version = "0.1.0" }

[dev-dependencies]
tempfile = "3.5.0"
