/target
.DS_Store
.pytest_cache
.vscode/c_cpp_properties.json

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Oo]bj/
*.wasm

# Binary files
*.dylib
*.a
*.so
*.dll
*.class

# Editor directories and files
.idea
xcuserdata/

# Databases
*.sqlite

node_modules/
clients/python/env/

# Third party license
THIRDPARTY.html

# Node.js addon binary file, for the current running operating system.
crates/bitwarden-napi/sdk-napi.*.node

# Complied TypeScript client
crates/bitwarden-napi/dist
languages/js/sdk-client/dist/

# Uniffi
languages/swift/BitwardenFFI.xcframework
languages/swift/tmp
languages/swift/.build
languages/swift/.swiftpm
languages/kotlin/sdk/src/main/java/com/bitwarden/**/*.kt

# Schemas
crates/bitwarden-napi/src-ts/bitwarden_client/schemas.ts
languages/cpp/include/schemas.hpp
languages/csharp/Bitwarden.Sdk/schemas.cs
languages/go/schema.go
languages/java/src/main/java/com/bitwarden/sdk/schema
languages/js/sdk-client/src/schemas.ts
languages/python/bitwarden_sdk/schemas.py
support/schemas
