/target
.DS_Store
.pytest_cache

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Editor directories and files
.idea

# Added by cargo
#
# already existing elements were commented out

#/target
node_modules/
clients/python/env/

# Node.js addon binary file, for the current running operating system.
crates/bitwarden-napi/sdk-napi.*.node

# Complied TypeScript client
crates/bitwarden-napi/dist

# Uniffi
crates/bitwarden-uniffi/swift/BitwardenFFI.xcframework
crates/bitwarden-uniffi/swift/.build
crates/bitwarden-uniffi/swift/.swiftpm
crates/bitwarden-uniffi/swift/Sources/BitwardenSdk
crates/bitwarden-uniffi/android/sdk/src/main/java/com/bitwarden/sdk/bitwarden_uniffi.kt
crates/bitwarden-uniffi/android/sdk/src/main/java/com/bitwarden/core/bitwarden.kt

# Schemas
support/schemas
crates/bitwarden-napi/src-ts/bitwarden_client/schemas.ts
languages/csharp/schemas.cs
languages/js_webassembly/bitwarden_client/schemas.ts
languages/python/BitwardenClient/schemas.py
