/target
.DS_Store
.pytest_cache
.vscode/c_cpp_properties.json

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Editor directories and files
.idea
xcuserdata/

# Added by cargo
#
# already existing elements were commented out

#/target
node_modules/
clients/python/env/

# Third party license
THIRDPARTY.html

# Node.js addon binary file, for the current running operating system.
crates/bitwarden-napi/sdk-napi.*.node

# Complied TypeScript client
crates/bitwarden-napi/dist

# Uniffi
languages/swift/BitwardenFFI.xcframework
languages/swift/tmp
languages/swift/.build
languages/swift/.swiftpm
languages/kotlin/sdk/src/main/java/com/bitwarden/sdk/bitwarden_uniffi.kt
languages/kotlin/sdk/src/main/java/com/bitwarden/core/bitwarden.kt

# Schemas
support/schemas
crates/bitwarden-napi/src-ts/bitwarden_client/schemas.ts
languages/csharp/Bitwarden.Sdk/schemas.cs
languages/js_webassembly/bitwarden_client/schemas.ts
languages/python/bitwarden_sdk/schemas.py
languages/cpp/include/schemas.hpp
languages/go/schema.go
languages/java/src/main/java/com/bitwarden/sdk/schema
