#![allow(unused_imports, unused_variables, unused_mut, non_camel_case_types)]
#![allow(
    clippy::too_many_arguments,
    clippy::empty_docs,
    clippy::to_string_in_format_args
)]

extern crate serde;
extern crate serde_json;
extern crate url;
{{#hyper}}
extern crate hyper;
extern crate futures;
{{/hyper}}
{{#reqwest}}
extern crate reqwest;
{{/reqwest}}

pub mod apis;
pub mod models;
