---
name: Build @bitwarden/sdk-napi

on:
  pull_request:
  push:
    branches:
      - "main"
      - "rc"
      - "hotfix-rc"
  workflow_dispatch:

defaults:
  run:
    shell: bash
    working-directory: crates/bitwarden-napi

jobs:
  generate_schemas:
    uses: ./.github/workflows/generate_schemas.yml

  build:
    name: Building @bitwarden/sdk-napi for - ${{ matrix.settings.os }}
    runs-on: ${{ matrix.settings.os || 'ubuntu-latest' }}
    needs: generate_schemas
    strategy:
      fail-fast: false
      matrix:
        settings:
          - os: macos-13
            target: x86_64-apple-darwin
            build: |
              npm run build
              strip -x *.node

          - os: macos-13
            target: aarch64-apple-darwin
            build: |
              npm run build-arm64
              strip -x *.node

          - os: windows-2022
            target: x86_64-pc-windows-msvc
            build: npm run build

          - os: ubuntu-22.04
            target: x86_64-unknown-linux-gnu
            build: |
              set -e &&
              npm run build &&
              strip *.node
    steps:
      - name: Checkout repo
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1

      - name: Setup Node
        uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4.0.4
        with:
          node-version: 18
          cache: "npm"
          cache-dependency-path: crates/bitwarden-napi/package-lock.json

      - name: Install rust
        uses: dtolnay/rust-toolchain@7b1c307e0dcbda6122208f10795a713336a9b35a # stable
        with:
          toolchain: stable
          targets: ${{ matrix.settings.target }}

      - name: Cache cargo registry
        uses: Swatinem/rust-cache@82a92a6e8fbeee089604da2575dc567ae9ddeaab # v2.7.5
        with:
          key: ${{ matrix.settings.target }}-cargo-${{ matrix.settings.os }}

      - name: Retrieve schemas
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          name: schemas.ts
          path: ${{ github.workspace }}/crates/bitwarden-napi/src-ts/bitwarden_client/

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: ${{ matrix.settings.build }}

      - name: Upload artifact
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: sdk-bitwarden-napi-${{ matrix.settings.target }}
          path: ${{ github.workspace }}/crates/bitwarden-napi/sdk-napi.*.node
          if-no-files-found: error
