name: Generate schemas

on:
  workflow_call:

env:
  CARGO_TERM_COLOR: always

jobs:
  schemas:
    name: Generate schemas
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

      - name: Install rust
        uses: dtolnay/rust-toolchain@f361669954a8ecfc00a3443f35f9ac8e610ffc06 # stable
        with:
          toolchain: stable

      - name: Set up Node
        uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3.8.1
        with:
          cache: "npm"
          cache-dependency-path: "package-lock.json"
          node-version: "16"

      - name: NPM setup
        run: npm ci

      - name: Cache cargo registry
        uses: Swatinem/rust-cache@e207df5d269b42b69c8bc5101da26f7d31feddb4 # v2.6.2

      - name: NPM Schemas
        run: npm run schemas

      - name: Upload ts schemas artifact
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
        with:
          name: schemas.ts
          path: ${{ github.workspace }}/languages/js_webassembly/bitwarden_client/schemas.ts
          if-no-files-found: error

      - name: Upload c# schemas artifact
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
        with:
          name: schemas.cs
          path: ${{ github.workspace }}/languages/csharp/schemas.cs
          if-no-files-found: error

      - name: Upload python schemas artifact
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
        with:
          name: schemas.py
          path: ${{ github.workspace }}/languages/python/BitwardenClient/schemas.py
          if-no-files-found: error

      - name: Upload json schemas artifact
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
        with:
          name: sdk-schemas-json
          path: ${{ github.workspace }}/support/schemas/*
          if-no-files-found: error

      - name: Upload Go schemas artifact
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
        with:
          name: schemas.go
          path: ${{ github.workspace }}/languages/go/schema.go
          if-no-files-found: error
