name: Release bws CLI
run-name: Release bws CLI ${{ inputs.release_type }}

on:
  workflow_dispatch:
    inputs:
      release_type:
        description: "Release Options"
        required: true
        default: "Release"
        type: choice
        options:
          - Release
          - Dry Run

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-22.04
    outputs:
      release-version: ${{ steps.version.outputs.version }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1

      - name: Branch check
        if: ${{ inputs.release_type != 'Dry Run' }}
        run: |
          if [[ "$GITHUB_REF" != "refs/heads/main" ]]; then
            echo "==================================="
            echo "[!] Can only release from the 'main' branch"
            echo "==================================="
            exit 1
          fi

      - name: Check Release Version
        id: version
        run: |
          VERSION=$(grep -o '^version = ".*"' crates/bws/Cargo.toml | grep -Eo "[0-9]+\.[0-9]+\.[0-9]+")
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Download all Release artifacts
        uses: bitwarden/gh-actions/download-artifacts@main
        with:
          workflow: build-cli.yml
          path: packages
          workflow_conclusion: success
          branch: ${{ github.ref_name }}

      - name: Get checksum files
        uses: bitwarden/gh-actions/get-checksum@main
        with:
          packages_dir: "packages"
          file_path: "packages/bws-sha256-checksums-${{ steps.version.outputs.version }}.txt"

      - name: Create release
        if: ${{ inputs.release_type != 'Dry Run' }}
        uses: ncipollo/release-action@2c591bcc8ecdcd2db72b97d6147f871fcd833ba5 # v1.14.0
        env:
          PKG_VERSION: ${{ steps.version.outputs.version }}
        with:
          artifacts: "packages/bws-x86_64-apple-darwin-${{ env.PKG_VERSION }}.zip,
            packages/bws-aarch64-apple-darwin-${{ env.PKG_VERSION }}.zip,
            packages/bws-macos-universal-${{ env.PKG_VERSION }}.zip,
            packages/bws-x86_64-pc-windows-msvc-${{ env.PKG_VERSION }}.zip,
            packages/bws-aarch64-pc-windows-msvc-${{ env.PKG_VERSION }}.zip,
            packages/bws-x86_64-unknown-linux-gnu-${{ env.PKG_VERSION }}.zip,
            packages/bws-aarch64-unknown-linux-gnu-${{ env.PKG_VERSION }}.zip,
            packages/THIRDPARTY.html,
            packages/bws-sha256-checksums-${{ env.PKG_VERSION }}.txt"
          commit: ${{ github.sha }}
          tag: bws-v${{ env.PKG_VERSION }}
          name: bws CLI v${{ env.PKG_VERSION }}
          body: "<insert release notes here>"
          token: ${{ secrets.GITHUB_TOKEN }}
          draft: true
